<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jason's TechBlog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/profile">Profile</a>
        <a href="/api/users/logout">Logout</a>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer></footer>
</body>

</html>