<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jason's TechBlog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a class="bold" href="/">Home</a>
        <a class="bold" href="/login">Login</a>
        <a class="bold" href="/signup">Signup</a>
        <a class="bold" href="/profile">Profile</a>
        <a class="bold" href="/api/users/logout">Logout</a>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer class="bold">Thanks for visiting!</footer>
</body>
</html>