<h1>Home</h1>
<h2>All comments:</h2>
{{#each allComments}}
<section class="comment-card">
    <p class="emphasis">{{User.username}} said:</p>
    <br>
    <h3>`{{comment}}`</h3>
</section> <br>
{{/each}}