{{#if logout}}
<h3>Thanks for logging out! See you next time 😉</h3>
<br>
{{/if}}
<h1>Login</h1>
<br>

<form id="login-form">
    <input class="bold" type="text" id="loginUsername" placeholder="Username">
    <input class="bold" type="password" id="loginPassword" placeholder="*********"><br>
    <button class="bold">Login</button>
</form>

<script src="/js/login.js"></script>