<h1>Hello, {{username}}!</h1>
<h2>Create a comment:</h2> <br>
<form id="comment-form">
    <textarea id="comment-text"></textarea>
    <br>
    <input type="submit" value="Submit">
</form> <br>
<h2>
    My Comments:
</h2>
<br>
{{#each Comments}}
<section class="comment-card">
    <p>
        {{comment}}
    </p>
</section>
<br>
{{/each}}

<script src="/assets/js/profile.js"></script>