<h1>Register</h1>
<br>
<form id="register-form">
    <input class="bold" type="text" id="username" placeholder="Username">
    <input class="bold" type="password" id="password">
    <br><button class="bold">Register</button>
</form>

<script src="/js/register.js"></script>