<h1>Signup</h1>
<br>
<form id="signup-form">
    <input class="bold" type="text" id="signupUsername" placeholder="Username">
    <input class="bold" type="password" id="signupPassword" placeholder="*********">
    <br><button class="bold">Signup</button>
</form>

<script src="/js/signup.js"></script>